<h1>Editing operaciones aerea</h1>

<%= render "form", operaciones_aerea: @operaciones_aerea %>

<br>

<div>
  <%= link_to "Show this operaciones aerea", @operaciones_aerea %> |
  <%= link_to "Back to operaciones aereas", operaciones_aereas_path %>
</div>
